.posts {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: var(--bg-color);
    color: var(--text-color);
    /* border: 10px solid green; */
}

@media only screen and (max-width:420px) {
    .posts {
        width: 100vw;
    }
}

.temp {
    height: 50px;
}