
@media only screen and (max-width:420px) {
    .post .container {
        padding: 0px !important ;        
    }
    .post .container .user {
        padding: 10px;
    }
    .post .container .content p {
        padding: 0px 10px;
    }
    .post .container .info {
        padding: 10px;
    }
}


.post {
    box-shadow: 0px 0px 25px -10px rgb(173, 173, 173);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    

    /* border: 10px solid red; */
}
    .post .container {
        padding: 20px;        
    }
        .post .container .user {
            display: flex;
            align-items: center;
            justify-content: space-between;  
            
            /* padding: 10px; */
        }
            .post .container .user .userInfo {
                display: flex;
                gap: 20px;
            }
                .post .container .user .userInfo img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .post .container .user .userInfo .details {
                    display: flex;
                    flex-direction: column;
                }
                    .post .container .user .userInfo .details .name {
                        font-weight: 500;
                    }
                    .post .container .user .userInfo .details .date {
                        font-size: 12px;
                    }

        .post .container .content {
            margin: 20px 0px;
        }
            
            .post .container .content img {
                width: 100%;
                /* min-height: 50vh; */
                max-height: 65vh;
                object-fit: cover;
                margin-top: 20px;
            }

        .post .container .info {
            display: flex;
            align-items: center;
            gap: 20px;
        }
            .post .container .info .item {
                display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            }
