:root {
    --navbar-pc-height: 50px;
    --navbar-mobile-height: 40px;
    --navbar-padding: 10px 20px;    
    --search-input: 500px;
    --search-border: 1px solid lightgray;
}

/* @import '../../App.css'; */



@media only screen and (max-width:420px) {
    .navbar {
        height: var(--navbar-mobile-height) !important;
    }
    .navbar .forPC {
        display: none;
    }
    .navbar .search {
        display: none;
    }
    .navbar .navbar_right {
        display: none;
    }
    .navbar .navbar_left {
        width: 100%;
        justify-content: space-between;
    }
}

.navbar {
    /* display: none !important; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--navbar-padding);
    height: var(--navbar-pc-height);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0px;
    background-color: var(--bg-color);
    z-index: 999;
    
}

    .navbar_left {
        display: flex;
        align-items: center;
        gap: 30px;
    }
        .navbar_left span{
            font-size: 20px;
            font-weight: bold;
            color: var(--app-logo);
        }
            .search{
                display: flex;
                align-items: center;
                gap: 10px;
                border: var(--search-border);
                border-radius: 5px;
                padding: 5px;
            }
                .navbar_left input {
                    border: none;
                    width: var(--search-input);
                    background-color: transparent;
                    outline: none;
                    color: var(--text-color);
                }
                

    .navbar_right {
            display: flex;
            align-items: center;
            gap: 20px;
    }
        .navbar_right .user {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

        }
            .navbar_right img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            .navbar_right .user span {
                color: var(--text-color);
            } 



.navbar_right>img, .navbar_left>img, .navbar_left>.search>img, .navbar_left>.dark-mode>img {
    filter: var(--logo-filter);
}