.home {
    scroll-behavior: smooth;

    /* border: 10px solid yellow; */
}




@media only screen and (max-width:420px) {

   
    .home {
        display: flex;
        padding: 0px;
        margin: 0px;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        scroll-behavior: smooth;

        min-width: 100vw;
    }
}