.home {
    scroll-behavior: smooth;
    max-width: 60vw;
    min-width: 35vh;
    /* border: 10px solid rgb(234, 255, 0); */

    background-color: var(--bg-color);
    color: var(--text-color);
}




@media only screen and (min-width:320px) and (max-width:480px) {

   
    .home {
        display: flex;
        padding: 0px;
        margin: 0px;
        /* align-items: center; */
        flex-direction: column;
        justify-content: center;

        scroll-behavior: smooth;

        min-width: 100vw;
    }
}