@media only screen and (max-width:420px) {
    .search {
        display: none !important;    
    }
    .search .forPc {
        display: none !important;
    }
    
}

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
    .search input {    
        
        border: none;
        width: 600px;
        height: 25px;
        outline: none;
        background: transparent;
    }
    .search img {
        padding-left: 5px;
        padding-top: 5px;
        height:15px;
        width:15px;
    }

