

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    /*margin-left: -30px;*/ /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
     padding-left: 0.1rem; /* gutter size */
     padding-right:  0.1rem; 
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    /* background: grey; */
    /* margin-bottom: 0.1rem; */
  }

.explore {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  background-color: var(--bg-color);
}

  .explore img{
    width: 100%;
    max-height: 65vh;
    border-radius: 0.2rem;
  }

.explore .temp {
  height: 70px;
  color: aqua;
}