
.profile {

}
    .profile .images {
        width: 100%;
        height: 300px;
        position: relative;
    }
        .profile .images .cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .profile .images .profilePic {
            width: 200px;
            height: 200px;
            border-radius: 50%; 
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            top: 200px;
        }

    .profile .profileContainer {
        padding: 20px 70px;
    }

        .profile .profileContainer .userInfo {
            height: 180px;
            box-shadow: 0px 0px 25px -10px rgb(173, 173, 173);
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
            .profile .profileContainer .userInfo .left {
                flex: 1;
                display: flex;
                gap: 10px;
            }
            .profile .profileContainer .userInfo .center {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
                .profile .profileContainer .userInfo .center span {
                    font-size: 30px;
                    font-weight: 500;
                }
                .profile .profileContainer .userInfo .center .info {
                    display: flex;   
                    align-items: center;
                    justify-content: space-around;
                }
                    .profile .profileContainer .userInfo .center .info .item{
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                    .profile .profileContainer .userInfo .center .info button {
                        border: none;
                        background-color: #5271ff;
                        color: white;
                        padding: 10px 20px;
                        border-radius: 5px;
                        cursor: pointer;
                    }



            .profile .profileContainer .userInfo .right{
                flex: 1;
                align-items: center;
                justify-content: flex-end;
            }